@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #F55A5A;
  margin: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

.main-heading {
  margin: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}